[submodule "app/Plugin/Search"]
	path = app/Plugin/Search
	url = https://github.com/CakeDC/search.git
[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = https://github.com/CakeDC/utils.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
